$ui-dark-color: #4a2f06;
$ui-light-color: #e7cda7;

$canvas-height: 500px;
$canvas-width: 500px;

$eyeBrown: brown;
$eyeLightBrown: rgb(184, 123, 87);
$eyeBlue: rgb(56, 56, 173);
$eyeLightBlue: rgb(96, 161, 183);
$eyeGreen: rgb(33, 116, 33);
$eyeGray: gray;
$eyePurple: rgb(135, 20, 135);
$eyeRed: red;

$hairDarkBrown: rgb(61, 24, 6);
$hairBrown: rgb(120, 69, 33);
$hairLightBrown: rgb(184, 123, 87);
$hairBlonde: rgb(235, 211, 27);
$hairWhite: white;
$hairGray: gray;
$hairBlack: rgb(12, 12, 12);
$hairRed: rgb(201, 62, 34);
$hairGinger: rgb(224, 132, 10);
$hairPink: pink;
$hairBlue: rgb(42, 40, 209);
$hairGreen: rgb(16, 150, 16);
$hairPurple: rgb(172, 69, 172);

$skinFair: rgb(250, 216, 211);
$skinLight: rgb(254, 194, 166);
$skinPeach: rgb(252, 195, 162);
$skinTan: rgb(250, 221, 167);
$skinMed: rgb(233, 170, 98);
$skinDarkCool: rgb(156, 107, 51);
$skinDarkWarm: rgb(147, 82, 51);
$skinDark: rgb(82, 40, 14);
$skinDarkDeep: rgb(56, 23, 3);

:export {
  uiDarkColor: $ui-dark-color;
  uiLightColor: $ui-light-color;
  canvasHeight: $canvas-height;
  canvasWidth: $canvas-width;

  eyeBrown: $eyeBrown;
  eyeLightBrown: $eyeLightBrown;
  eyeBlue: $eyeBlue;
  eyeLightBlue: $eyeLightBlue;
  eyeGreen: $eyeGreen;
  eyeGray: $eyeGray;
  eyePurple: $eyePurple;
  eyeRed: $eyeRed;

  hairDarkBrown: $hairDarkBrown;
  hairBrown: $hairBrown;
  hairLightBrown: $hairLightBrown;
  hairBlonde: $hairBlonde;
  hairWhite: $hairWhite;
  hairGray: $hairGray;
  hairBlack: $hairBlack;
  hairRed: $hairRed;
  hairGinger: $hairGinger;
  hairPink: $hairPink;
  hairBlue: $hairBlue;
  hairGreen: $hairGreen;
  hairPurple: $hairPurple;

  skinFair: $skinFair;
  skinLight: $skinLight;
  skinPeach: $skinPeach;
  skinTan: $skinTan;
  skinMed: $skinMed;
  skinDarkCool: $skinDarkCool;
  skinDarkWarm: $skinDarkWarm;
  skinDark: $skinDark;
  skinDarkDeep: $skinDarkDeep;
}

.Customizer {
  display: flex;

  .CustomizationPanel {
    display: flex;
    flex-flow: column;
  }

  .CanvasLayer {
    margin-top: 60px;
    position: relative;
    background-color: blueviolet;
    border: blueviolet;
    height: $canvas-height;
    width: $canvas-width;

    canvas {
      position: absolute;
      border-style: solid;
      border-width: thick;
      border-color: aqua;
    }
  }
}

.ChangeFeature {
  display: flex;
  flex-direction: row;
}

.MainPage {
}

.NavBar {
  position: absolute;

  a {
    padding: 10px;
  }
}

@mixin characterImage {
  background-position: top;
  transform: scale(0.5);
  width: 400px;
  height: 400px;
}

.CharacterSelectAstrid {
  @include characterImage();
  background-image: url("/portraits/Astrid/Neutral.png");
}

.CharacterSelectZuri {
  @include characterImage();
  background-image: url("/portraits/Zuri/Neutral.png");
}
